# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and temporary files
*.log
scratch/
.system_generated/

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
