# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs, binaries, and temporary files
*.log
*.exe
scratch/
.system_generated/

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
